body {
    font-family: 'Open Sans', sans-serif;
    color: darkblue;
    margin-top:50px;

    background-color: Ivory;
}

#navbar ul {
list-style-type: none;
    margin: 0;
    padding: 0;


}

#navbar li {
display: inline;

}

#navbar a {
margin-left: 75px;
    margin-right: 75px;

}


h1, h2 {
    font-family: 'Oswald', sans-serif;
}

img {
    float: left;
    margin-right: 100px;

}

.left {
    float: left;
    width: 150px;
    padding: len;
}

.right {
    float: left;
    width: 150px;
    padding: len;
}

.center {
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    padding: len;
}